@import 'bootstrap-icons/font/bootstrap-icons.css';

/* Define a color palette */
:root {
  --primary-color: #5563FF;
  /* Slightly changed for a modern look */
  --secondary-color: #C155FF;
  /* Slightly changed for a modern look */
  --background-color: #f5f5f5;
  --soft-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  /* Moved here to make it global */
  background-color: var(--background-color);
  /* Added for consistency */
}


/* Navigation bar style */

.navbar {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#toggleNav {
  background-color: transparent;
  /* Making the background transparent */
  border: none;
  position: fixed;
  /* Fixing the position so it's always on the top-right */
  top: 20px;
  /* 20px from the top */
  right: 20px;
  /* 20px from the right */
  height: 7%;  /* Set equal height to width */
  border-radius: 50%; /* Round shape */
  /* Making it a circle */
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 11;
  /* Make sure it's above other content */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
}
.bar {
  width: 30px; /* Adjust for desired width */
  height: 5px; /* Adjust for desired height/thickness */
  background-color: var(--background-color); /* Switch to neon pink on hover */
  box-shadow: 0 0 10px var(--secondary-color), /* Outer glow */
              0 0 20px var(--secondary-color),
              0 0 30px var(--secondary-color),
              0 0 40px var(--secondary-color);  margin: 5px 0; /* Space between bars */
  display: flex;
  flex-direction: column;
  border-radius: 4px;

}

#toggleNav:hover {
  background-color: var(--primary-color); /* Switch to neon pink on hover */
  box-shadow: 0 0 10px var(--primary-color), /* Outer glow */
              0 0 20px var(--primary-color),
              0 0 30px var(--primary-color),
              0 0 40px var(--primary-color);
  /* Slight darkening on hover */
}


.navbar ul {
  position: fixed;
  /* Fullscreen overlay */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  /* Translucent white */
  backdrop-filter: blur(5px);
  /* Blur effect */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transform: translateX(100%);
  /* Start off the screen */
  transition: transform 0.3s;
}

.navbar a {
  font-size: 2rem;
  /* Increase size for better readability on overlay */
  color: var(--primary-color);
  text-decoration: none;
  margin: 10px 0;
}

.navbar a:hover {
  color: var(--secondary-color);
}

/* Home page */
.home-container {
  height: 100vh;
  position: relative;
  /* Ensure it's positioned */
  z-index: 1;
  /* Ensure it's above the gradient */
  /* Set a solid background color */
}

.intro {
  font-size: 4rem;
  margin: 25% 0% 25% 0;
}

.home-container::before {
  content: "";
  background: linear-gradient(to bottom,
      transparent,
      var(--primary-color) 25%,
      var(--secondary-color) 80%,
      transparent);
  height: 90vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* This ensures the gradient is behind the content of .home-container */
}


.btn-secondary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-secondary:hover {
  background-color: #fff;
  color: var(--secondary-color);
}

.btn-outline-light {
  color: #fff;
  border-color: #fff;
}

.btn-outline-light:hover {
  background-color: #fff;
  color: var(--secondary-color);
}

/* Use the primary color for headings */

.subHeading {
  color: var(--primary-color);
}

/* Use the secondary color for buttons */
button {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

/* Add more whitespace around elements */
header {
  padding: 20px;
}

/* Use modern fonts */
body {
  font-family: 'Roboto', sans-serif;
}

/* Add a gradient background to the header */
header {
  background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
  color: white;
}

/* Simplify the design */
footer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

/* Contact page */
.contact-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* Creates columns with a minimum width of 400px and auto-fit to fill the available space */
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom right, #0e7afe, #9c36b5);
}

.contact-container .col-lg-6 {
  padding: 0 2rem;
  /* add horizontal padding */
  margin-bottom: 0;
}

.contact-info {
  padding: 2rem;
}

/* form element is then styled with padding, a white background, rounded corners, and a box shadow to make it stand out */
.contact-container form {
  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;
  color: gray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-container h1 {
  font-weight: 700;
  color: white;
  margin-top: 2rem;
  margin-left: 2rem;
}

.contact-container h2 {
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 16px;
  margin-left: 2rem;
  color: white;
}

.contact-container ul li {
  font-size: 20px;
  list-style: none;
  padding-left: 0;
  margin-left: 2rem;
}

.contact-container p {
  margin-left: 2rem;
  font-size: 1.5rem;
}

.contact-container .btn-primary:focus {
  box-shadow: none;
}

/* Buttons in Project Gallery */
/* github nutto */
.btn-github {
  color: #fff;
  background-color: #000;
  border-color: #000;
  transition: all 0.3s ease-in-out;
}

.btn-github:hover {
  color: #fff;
  background-color: #2c2c2c;
  border-color: #2c2c2c;
}

.btn-github:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.card-body {
  display: flex;
  flex-direction: column;
}

.btn-container {
  margin-top: auto;
}

.btn-container>a {
  margin-right: 10px;
}

/* visit site buttons on project gallery page */
.btn-visit {
  color: #fff;
  background-color: #e31b6d;
  border-color: #e31b6d;
  transition: all 0.3s ease-in-out;
}

.btn-visit:hover {
  color: #fff;
  background-color: #c71560;
  border-color: #c71560;
}

.btn-visit:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(227, 27, 109, 0.5);
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-3px);
  }
}

#toggleNav {
  animation: bounce 2s infinite;
}