@import 'bootstrap-icons/font/bootstrap-icons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define a color palette */
:root {
  --primary-color: #5563FF;
  /* Slightly changed for a modern look */
  --secondary-color: #C155FF;
  /* Slightly changed for a modern look */
  --background-color: #f5f5f5;
  --soft-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;

}

/* Navigation bar style */

.navbar {
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0!important;
  height: 100%;
}

#toggleNav {
  background-color: transparent;
  /* Making the background transparent */
  border: none;
  position: fixed;
  /* Fixing the position so it's always on the top-right */
  top: 4%;
  right: 4%;
  padding: 2%;
  border-radius: 50%;
  /* Round shape */
  /* Making it a circle */
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 11;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
}

.bar {
  width: 30px;
  /* Adjust for desired width */
  height: 5px;
  /* Adjust for desired height/thickness */
  background-color: var(--background-color);
  /* Switch to neon pink on hover */
  box-shadow: 0 0 10px var(--secondary-color),
    /* Outer glow */
    0 0 20px var(--secondary-color),
    0 0 30px var(--secondary-color),
    0 0 40px var(--secondary-color);
  margin: 5px 0;
  /* Space between bars */
  display: flex;
  flex-direction: column;
  border-radius: 4px;

}

#toggleNav:hover {
  background-color: var(--primary-color);
  /* Switch to neon pink on hover */
  box-shadow: 0 0 10px var(--primary-color),
    /* Outer glow */
    0 0 20px var(--primary-color),
    0 0 30px var(--primary-color),
    0 0 40px var(--primary-color);
  /* Slight darkening on hover */
}

.navbar ul {
  position: fixed;
  /* Fullscreen overlay */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  /* Translucent white */
  backdrop-filter: blur(5px);
  /* Blur effect */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transform: translateX(100%);
  /* Start off the screen */
  transition: transform 0.3s;
}

.navbar a {
  font-size: 2rem;
  /* Increase size for better readability on overlay */
  color: var(--primary-color);
  text-decoration: none;
  margin: 10px 0;
}

.navbar a:hover {
  color: var(--secondary-color);
}

/* Home page */
.home-container {
  height: 90vh;
  position: relative;
  /* Ensure it's positioned */
  z-index: 1;
  /* Ensure it's above the gradient */
  /* Set a solid background color */
}

.intro {
  font-size: 4rem;
  margin: 25% 0% 25% 0;
}

.home-container::before {
  content: "";
  background: linear-gradient(to bottom,
      transparent,
      var(--primary-color) 25%,
      var(--secondary-color) 80%,
      transparent);
  height: 90vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* This ensures the gradient is behind the content of .home-container */
}

.btn-secondary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-secondary:hover {
  background-color: #fff;
  color: var(--secondary-color);
}

.btn-outline-light {
  color: #fff;
  border-color: #fff;
}

.btn-outline-light:hover {
  background-color: #fff;
  color: var(--secondary-color);
}

.subHeading {
  color: var(--primary-color);
}

button {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

header {
  padding: 20px;
  background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
  color: white;
}

/* about */
.bi.bi-code-slash,
.bi.bi-laptop {
  color: #7a7a7a;
}

/* Project gallery */
.gallery-title {
  color: #f0f0f0;
  /* Brighter text for title */
  margin: 5% 0 5% 0;
  /* Space between title and cards */
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
}

.card.h-100 {
  background-color: transparent;
  border-color: transparent;
}

body.project-gallery-bg {
  background-image: linear-gradient(to bottom, var(--primary-color), #f5f5f5);
  background-size: cover;
  background-repeat: no-repeat;
}

.project-gallery-container {
  width: 100vw;
}

.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px !important;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.card:hover .card-img-top {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}


h5.card-title {
  font-weight: 600;
  color: #f0f0f0;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 15px;
  text-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  ;
}

.card:hover h5.card-title {
  color: #f0f0f0;
  /* Pink color on hover */
  font-size: 1.6rem;
  /* Slightly bigger font size on hover */
  text-shadow:
    0 0 5px var(--secondary-color),
    0 0 10px var(--secondary-color),
    0 0 15px var(--secondary-color),
    0 0 20px var(--secondary-color),
    0 0 25px var(--secondary-color),
    0 0 30px var(--secondary-color);
  transition: all 0.3s ease;
}

/* Neon Button Styles */
.btn.btn-visit,
.btn.btn-github {
  background-color: transparent;
  color: var(--primary-color);
  /* Bright neon color */
  border: 2px solid var(--primary-color);
  border-radius: 12px;
  padding: 8px 16px;
  margin-right: 10px;
  transition: all 0.3s ease;
  text-decoration: none;
  /* Remove underline for anchor */
  font-weight: 600;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}

.btn.btn-visit:hover,
.btn.btn-github:hover {
  background-color: #f5f5f5;
  color: #7a7a7a;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Slide-in animations */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    visibility: visible;
  }

  to {
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    visibility: visible;
  }

  to {
    transform: translateX(0);
    visibility: visible;
  }
}

/* Contact page */
.contact-container {
  max-width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* Creates columns with a minimum width of 400px and auto-fit to fill the available space */
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom right, #0e7afe, #9c36b5);
}

.contact-container> :first-child {
  margin-top: 0;
}

.contact-container .col-lg-6 {
  padding: 0 2rem;
  /* add horizontal padding */
  margin-bottom: 0;
}

.contact-info {
  padding: 2rem;
}

/* form element is then styled with padding, a white background, rounded corners, and a box shadow to make it stand out */
.contact-container form {
  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;
  color: gray;
  margin-right: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-container h1 {
  font-weight: 700;
  color: white;
  margin-top: 2rem;
  margin-left: 2rem;
}

.contact-container h2 {
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 16px;
  margin-left: 2rem;
  color: white;
}

.contact-container ul li {
  font-size: 20px;
  list-style: none;
  padding-left: 0;
  margin-left: 2rem;
}

.contact-container p {
  margin-left: 2rem;
  font-size: 1.5rem;
}

.contact-container .btn-primary:focus {
  box-shadow: none;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-5px);
  }

  60% {
    transform: translateY(-3px);
  }
}

#toggleNav {
  animation: bounce 2s infinite;
}

/* Footer */
/* Footer styling */

footer {
  background: linear-gradient(to top, var(--primary-color), var(--secondary-color));
  color: #f0f0f0;
  /* Bright white color for text */
  padding: 20px 0 20px 0;
  position: relative;
  width: 100vw;
  margin-bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: space-between, center;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-text {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  text-shadow:
    0 0 5px var(--primary-color),
    0 0 10px var(--primary-color),
    0 0 15px var(--primary-color);
}

.rights {
  display: flex;
  justify-content: center;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  /* Spacing between icons */
}

.footer-icons .bi {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-icons .bi:hover {
  color: var(--secondary-color);
  text-shadow:
    0 0 5px var(--secondary-color),
    0 0 10px var(--secondary-color),
    0 0 15px var(--secondary-color);
}

/* Adjust for tablet */
@media (max-width: 768px) {
  .home-container {
    height: 90vh;
  }

  .home-container::before {
    height: 90vh;
  }
}

/* Adjust for mobile */
@media (max-width: 480px) {
  .home-container {

    height: 90vh;
  }

  .home-container::before {
    height: 90vh;
  }

  .btn.btn-lg.btn-secondary.mx-2 {
    margin-bottom: 8%;
  }
}